.loader{
    position: fixed;
    top: 0;
    left: 0;
    background: #001E31;
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center; 
    opacity: 0.8;
    visibility: hidden;
}
