<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{% block title %}{% endblock%}</title>
    <!-- CSS only -->
    <link href="{{ url_for('static',filename='css/bootstrap.min.css') }}" rel="stylesheet" integrity="sha384-gH2yIJqKdNHPEq0n4Mqa/HGKIhSkIHeL5AyhkYV8i59U5AR6csBvApHHNl/vI1Bx" crossorigin="anonymous">
    <!-- Icons -->
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@20,400,0,0" />
    <!-- Preload preload -->
    <link rel="stylesheet" href="{{ url_for('static',filename='css/preload.css') }}" />    
    {% block style %}{% endblock %}   
    
</head>
<body>
{% include 'components/navbar.html' %}
{% include 'components/notification.html' %}
{% include 'components/preload.html' %}

<div id="content">
    {% block body %}{% endblock %}
</div>



<!-- JavaScript Bundle with Popper -->
<script src="{{ url_for('static',filename='script/bootstrap.bundle.min.js') }}" integrity="sha384-A3rJD856KowSb7dwlZdYEkO39Gagi7vIsF0jrRAoQmDKKtQBHUuLZ9AsSv4jD4Xa" crossorigin="anonymous"></script>
<!-- JavaScript Preload -->
<script type="text/javascript" src="{{ url_for('static',filename='script/preload.js') }}"></script>
<!-- JavaScript jquery -->
<script src="https://code.jquery.com/jquery-3.6.1.js" integrity="sha256-3zlB5s2uwoUzrXK3BT7AX3FyvojsraNFxCc2vC/7pNI=" crossorigin="anonymous"></script>
<!-- JavaScript Dynamic -->
{% block script %}{% endblock %}

</body>
</html>